@use '../mixin.scss' as *;

.heading {
  --font-size-heading: var(--font-size-x-large);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px 0;
  font-weight: bold;

  > h3 {
    font-size: var(--font-size-heading);

    @include mediaScreen('mobile') {
      --font-size-heading: calc(var(--font-size-large) + 10px)
    }
  }

  > span {
    color: var(--primary-color);
    font-weight: normal;
  }
}