@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --max-width: 1440px;

  /* color */
  --white: #FFFFFF;
  --black: #000000;
  --gray: #E4E4E4;
  --purple: #7C3FFF;
  --primary-color: var(--purple);
  
  /* font */
  --font-size-xx-large: 54px;
  --font-size-x-large: 32px;
  --font-size-large: 16px;
  --font-size-medium: 14px;
  --font-family-en: 'Montserrat', sans-serif;
}

html,
body {
  color: var(--black);
}

ul, li {
  list-style: none;
}

a {
  color: var(--black);
  text-decoration: none;
}