@use '../mixin.scss' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--white);
  background-color: var(--primary-color);
  transition: 
    background-color var(--transition-time) ease-out,
    color var(--transition-time) ease-out,
    border var(--transition-time) ease-out
  ;
  border: 1px solid var(--primary-color);

  &:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);

    .arrow {
      svg {
        transform: translateX(4px);
        path {
          stroke: var(--primary-color);
        }
      }
    }
  }

  &.caution {
    background-color: var(--caution-color);
  }

  &.outline {
    border: 1px solid var(--gray);
    background-color: transparent;
    color: var(--black);
  }

  .heart {
    margin-inline-end: 12px;
    position: relative;
    top: 2px;
  }

  .arrow {
    margin-inline-start: 12px;
    position: relative;
    top: 2px;
    
    svg {
      transition: transform .2s ease-out;

      path {
        transition: stroke var(--transition-time) ease-out;
      }
    }
  }
}