@use '../mixin.scss' as *;
@use '../function.scss' as *;

.card {
  --gap: 20px;
  --column: 4;
  width: calc(100% / var(--column) -  var(--gap));
  position: relative;
  cursor: pointer;

  &.three {
    --column: 3;
  }

  &:hover {
    .image {
      &::before {
        background-color: var(--overlay-darker);
      }

      > img {
        transform: scale(1.1);
        filter: blur(1px);
      }
    }
  }

  .image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color var(--transition-time);
      z-index: var(--z-index-contents);
    }

    > img {
      width: 100%;
      border-radius: 5px;
      transition: 
        transform var(--transition-time),
        filter var(--transition-time);
    }
  }
  
  .description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    margin-block-start: 16px;
    font-family: var(--font-family-sub);

    > em {
      display: inline-flex;
      align-items: baseline;
      color: var(--primary-color);
      font-size: calcClamp(12, 14, $minViewport, $maxViewport);
      
      &::before {
        content: "¥";
        display: block;
        margin-inline-end: 2px;
        font-size: calcClamp(12, 14, $minViewport, $maxViewport);
      }
    }
  }
}