.check_box {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-family: var(--font-family-sub);
  
  > label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    input {
      display: none;
    }

    span {
      display: inline-flex;
      align-items: center;
      width: 18px;
      height: 18px;
      position: relative;
      border: 1px solid var(--orange);
      border-radius: 2px;

      &.checked {
        background-color: var(--orange);
    
        &::after {
          content: "";
          width: 10px;
          height: 5px;
          position: absolute;
          top: 4px;
          left: 3px;
          border-left: 2px solid var(--white);
          border-bottom: 2px solid var(--white);
          transform: rotate(-45deg);
        }
      }
    }
  }

  .total {
    flex: 1;
    font-size: var(--font-size-medium);
    text-align: right;
  }
}