.check_box {
  
  > label {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    input {
      display: none;
    }

    span {
      display: inline-flex;
      align-items: center;
      width: 18px;
      height: 18px;
      position: relative;
      border: 1px solid var(--orange);
      border-radius: 2px;

      &.checked {
        background-color: var(--orange);
    
        &::after {
          content: "";
          width: 10px;
          height: 5px;
          position: absolute;
          top: 4px;
          left: 3px;
          border-left: 2px solid var(--white);
          border-bottom: 2px solid var(--white);
          transform: rotate(-45deg);
        }
      }
    }
  }
}