.select_button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 8px;
  position: relative;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-sub);
  border: 1px solid var(--gray);

  &.selected {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }

  &.disable {
    cursor: not-allowed;
    background-color: rgba(228, 228, 228, 0.55);
  }
}
